<Html>  
<head>
	{% extends 'base.html' %}
	}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   
	{% block body_block %}
<title>  
Registration Page  
</title>  
</head>  
<body style="background-color: skyblue;">  
{% if error %}
<h2>{{error}}</h2>
{% endif %}
<table class="table">
<form method="post" action="{%url 'deposite' %}">
{% csrf_token %}
<tr>
	<td>
	<label>Cid</label>
	</td>
	<td>
		<input type="number" name="cid">
	</td>
	<td>
		<label>Ammount</label>
	</td>
	<td>
		<input type="number" name="ammount">
	</td>
	<td>
		<input type="submit" value="search">
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
</form>
</table>
</body>
{% endblock %}